html{
    height: auto;
    width: 100%;
}

body{
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    height: auto;
}

header{
    height: 10%;
    text-align: center;
    vertical-align: middle;
    line-height: 74px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#main-doc{
    padding: 10px;
}

.side_list {
    list-style-type: none;
    padding: 0px;
    height: 90%;
}

.side{
    text-align: center;
    vertical-align: middle;
    height: calc(100% / 14);
}

a{
    height: calc(100% / 16);
    background-color: yellow;
}

#navbar{
    display: inline-block;
    width: 200px;
    height: 100%;
    height:calc(100% - 20px);
    background-color: aqua;
    position: fixed;
    left: 10px;
    top: 10px;
    bottom: 10px;
    text-align: center;
    vertical-align: middle;
}

#main-doc{
    display: inline-block;
    width:calc(100% - 200px);
    height: auto;
    background-color: aqua;
    position: relative;
    left: 205px;
}